
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Component specific
@import 'components/game-server-cards';

textarea {
    min-height: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pe-n {
    pointer-events: none;
}

.img-circle {
    border-radius: 50%;
}

.icon {
    width: 24px;
    height: 24px;

    &.icon-circle {
        @extend .img-circle;
    }
}
