.game-server-cards {
    .card {
        .card-img {
            max-height: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }
}