<template>
    <div class="game-server-cards">
        <div class="card mb-4" v-for="(server, key) in serversData" :key="key">
            <template v-if="server.host">
                <div class="card-header">{{ server.host }}</div>
                <div class="card-img">
                    <img :src="server.map_image" alt v-if="server.map_image">
                    <img :src="noMapImageUrl" alt v-else>
                </div>
                <div class="card-footer">
                    {{ server.map }} &middot; <span>{{ server.players }} players</span>
                </div>
            </template>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            servers: {
                required: true,
                type: Array,
            },
            serverDataUrl: {
                required: true,
                type: String,
            },
            noMapImageUrl: {
                required: true,
                type: String,
            }
        },

        data() {
            return {
                serversData: this.servers,
            };
        },

        methods: {
            refreshData() {
                axios({
                    url: this.serverDataUrl,
                    method: 'get',
                    params: { ajax: 1 },
                }).then((res) => {
                    if (res.status !== 200 || !res.data) {
                        return;
                    }

                    this.serversData = res.data.servers;
                });
            },
        },

        mounted() {
            setInterval(this.refreshData, 30 * 1000);
        },
    };
</script>
