<template>
    <div class="html-preview">
        <div v-html="this.finalHtml"></div>
    </div>
</template>

<script>
    export default {
        props: {
            html: {
                required: false,
                type: String,
                default: '',
            },
            inputSelector: {
                required: false,
                type: String,
                default: '',
            },
        },

        data() {
            return {
                finalHtml: '',
            };
        },

        computed: {
            element() {
                if (this.inputSelector.length) {
                    // I'll cheat with jQuery on this one
                    return $(this.inputSelector)[0];
                }

                return null;
            },
        },

        methods: {
            updateHtml() {
                this.finalHtml = this.element.value;
            },
        },

        mounted() {
            this.finalHtml = this.html;

            if (this.element) {
                this.element.addEventListener('change', this.updateHtml);
            }
        },
    };
</script>
