<template>
    <div class="paypal-checkout text-center" v-show="show">
        <div
            class="paypal-purchase-button"
            :class="className"
            v-show="!successMessage && !errorMessage"
        ></div>

        <p class="text-success" v-if="successMessage">{{ successMessage }}</p>
        <p class="text-danger" v-if="errorMessage">{{ errorMessage }}</p>

        <p class="text-danger" v-if="options.mode === 'sandbox'">
            <small>PayPal is set to use the sandbox mode.<br>Only sandbox accounts can continue.</small>
        </p>

        <button
            type="button"
            class="btn btn-lg"
            :class="!isComplete ? 'btn-outline-danger' : 'btn-outline-success'"
            @click.prevent="goBack"
        >
            <span v-if="!isComplete">Cancel</span>
            <span v-else>Back to shop</span>
        </button>
    </div>
</template>

<script>
    export default {
        props: {
            show: {
                required: false,
                type: Boolean,
                default: true,
            },
            className: {
                required: false,
                type: String,
                default: '',
            },
            options: {
                required: true,
                type: Object,
            },
            selectedProduct: {
                required: true,
                type: Object,
            },
            autoHideMessages: {
                required: false,
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                apiScriptId: 'paypal-api-script',
                buttonSelector: '.paypal-purchase-button',
                successMessage: '',
                errorMessage: '',
                isComplete: false,
            };
        },

        computed: {
            client() {
                return { [this.env]: this.options.clientId };
            },

            env() {
                let env;

                switch (this.options.mode) {
                    case 'live':
                        env = 'production';
                        break;

                    case 'sandbox':
                        env = 'sandbox';
                        break;

                    default:
                        env = null;
                        break;
                }

                return env;
            },
        },

        methods: {
            goBack() {
                this.$emit('back');
            },

            waitForApi(callback) {
                if (typeof window.paypal === 'undefined') {
                    setTimeout(() => {
                        this.waitForApi(callback);
                    }, 100);
                    return;
                }
                
                callback();
            },

            createScript(callback) {
                if (document.getElementById(this.apiScriptId)) {
                    this.waitForApi(callback);
                    return;
                }

                const el = document.createElement('script');
                el.id = this.apiScriptId;
                el.src = 'https://www.paypalobjects.com/api/checkout.js';
                el.onload = () => {
                    this.waitForApi(callback);
                };
                document.head.appendChild(el);
            },

            init() {
                if (typeof window.paypal === 'undefined') {
                    this.createScript(this.init);
                    return;
                }

                paypal.Button.render({
                    /**
                     * Configuration
                     */
                    env: this.env,

                    style: {
                        layout: 'horizontal',
                        size: 'medium',
                        shape: 'rect',
                        color: 'gold',
                    },

                    commit: true,

                    client: this.client,

                    /**
                     * Callbacks
                     */
                    payment: this.handlePaymentCreate,

                    onAuthorize: this.handlePaymentExecute,

                    onCancel: this.handleCancel,

                    onError: this.handleError,
                }, this.buttonSelector);
            },

            handlePaymentCreate(data, actions) {
                return actions.request.post(this.options.createPaymentUrl, {
                    productId: this.selectedProduct.id,
                }).then((res) => {
                    if (res.success) {
                        return res.id;
                    }

                    this.handleError(res);
                });
            },

            handlePaymentExecute(data, actions) {
                return actions.request.post(this.options.executePaymentUrl, {
                    paymentId: data.paymentID,
                    payerId: data.payerID,
                }).then((res) => {
                    if (res.success) {
                        this.handleSuccess(res);
                    } else {
                        this.handleError(res);
                    }
                });
            },

            handleCancel(res) {
                // Do nothing
            },

            handleSuccess(res) {
                this.isComplete = true;
                this.successMessage = res.message || 'Success!';
                
                if (!this.autoHideMessages) {
                    this.$emit('success');
                } else {
                    setTimeout(() => {
                        this.successMessage = '';
                        this.$emit('success');
                    }, 7000);
                }
            },

            handleError(res) {
                let message = 'Something went wrong';

                if (res.success === false) {
                    message = res.message;
                } else {
                    console.error(res);
                }
                
                this.errorMessage = message;
                
                if (!this.autoHideMessages) {
                    this.$emit('fail');
                } else {
                    setTimeout(() => {
                        this.errorMessage = '';
                        this.$emit('fail');
                    }, 7000);
                }
            },
        },

        mounted() {
            this.init();
        },
    };
</script>
