<template>
    <div class="paypal-shop">
        <div class="row justify-content-center mb-4" v-if="isLoggedIn && goalPercentage !== false">
            <div class="col-md-12">
                <div class="card text-center">
                    <h3 class="card-header">Oof, we need your help!</h3>
                    <div class="card-body">
                        <p>We are this close to fully covering this month's expenses:</p>
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                role="progressbar"
                                style="width: 0%;"
                                ref="shopProgressBar"
                            ></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-4" v-if="!isLoggedIn">
            <div class="col-md-12">
                <div class="card text-center">
                    <h3 class="card-header">Hey, thanks for checking the shop!</h3>
                    <div class="card-body">
                        <p>You must login with Steam to continue.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-around mb-4 tier-perks">
            <div class="col-md-3" v-for="(perks, tierTitle) in tierPerks" :key="tierTitle">
                <h5 class="perk-header text-center text-success">{{ tierTitle }}</h5>
                <ul class="list-group">
                    <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                        v-for="(perk, key) in perks"
                        :key="key"
                    >
                        {{ perk }}
                    </li>
                </ul>
            </div>
        </div>

        <div class="row justify-content-around text-center">
            <template v-for="(product, key) in productsData">
                <div class="col-md-6" :key="key" v-if="canShowProduct(product)">
                    <div class="card product flex-fill mb-4">
                        <h3 class="card-header">{{ product.name }}</h3>
                        <div class="card-img" v-if="product.image">
                            <img :src="product.image" width="250" alt>
                        </div>
                        <div class="card-body product-equalize-height">
                            {{ product.description }}
                        </div>
                        <div class="card-footer d-flex justify-content-around">
                            <button
                                type="button"
                                class="btn btn-lg"
                                :class="productPrimaryButtonClassName(product)"
                                :disabled="!product.canUserPurchase"
                                v-on:focus="(e) => e.target.blur()"
                                @click.prevent="selectProduct(product, this)"
                            >
                                <span v-if="product.canUserPurchase || !isLoggedIn">
                                    {{ currency }} {{ $root.formatPrice(product.finalPrice) }}
                                    <s v-if="product.discount">{{ $root.formatPrice(product.price) }}</s>
                                </span>
                                <span v-else>Purchased</span>
                            </button>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <div class="row justify-content-around">
            <div class="col-md-6">
                <div class="card border-primary" v-if="isSelected">
                    <h5 class="card-header text-center">Confirm the purchase with PayPal</h5>
                    <div class="card-body">
                        <paypal-checkout
                            :options="paypalOptions"
                            :show.sync="isSelected"
                            :selected-product.sync="selectedProduct"
                            class-name="pb-3"
                            @back="onCheckoutBack"
                            @success="onCheckoutSuccess"
                        ></paypal-checkout>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            isLoggedIn: {
                required: true,
                type: Boolean,
            },
            products: {
                required: true,
                type: Array,
            },
            currency: {
                required: false,
                type: String,
                default: 'EUR',
            },
            paypalOptions: {
                required: true,
                type: Object,
            },
            getProductsUrl: {
                required: true,
                type: String,
            },
            goalPercentage: {
                required: true,
                type: Number,
            },
            tierPerks: {
                required: true,
                type: Object,
            },
        },

        computed: {
            paypalCheckout() {
                return this.$root.$refs.paypalCheckout;
            },

            isSelected() {
                return !!this.selectedProduct.id;
            },
        },

        data() {
            return {
                selectedProduct: {},
                productsData: this.products,
            }
        },

        methods: {
            canShowProduct(product) {
                if (!this.isSelected) {
                    return true;
                }

                return this.selectedProduct.id === product.id;
            },

            productPrimaryButtonClassName(product) {
                if (!this.isLoggedIn) {
                    return 'btn-outline-primary';
                } else if (!product.canUserPurchase) {
                    return 'btn-success';
                }

                return !this.isSelected ? 'btn-outline-primary' : 'btn-link pe-n';
            },

            selectProduct(product = null) {
                if (product && !product.canUserPurchase || !this.isLoggedIn) {
                    return false;
                }

                this.selectedProduct = product || {};
            },

            setProgressBarWidthPercent(widthPercent) {
                const el = this.$refs.shopProgressBar;

                $(el).animate({ width: `${widthPercent}%` });
            },

            onCheckoutBack() {
                this.selectedProduct = {};
            },

            onCheckoutSuccess() {
                // Refresh product list
                axios({
                    url: this.getProductsUrl,
                    method: 'get',
                    params: { ajax: 1 },
                }).then((res) => {
                    if (res.status !== 200 || !res.data) {
                        // Reload the page to force product refreshing
                        window.location.reload();
                        return;
                    }

                    this.productsData = res.data.products;
                    this.setProgressBarWidthPercent(res.data.goalPercentage);
                });
            },
        },

        mounted() {
            this.setProgressBarWidthPercent(this.goalPercentage);
        },
    };
</script>
